<html>
  <head>
    <title>Favorite Shoes Brands</title>
  </head>
  <body>
    <h1> Favorite Shoe Brands </h1>

    {% if brands is not empty %}
      <p> Here are all your brands: </p>
      <ul>
        {% for brand in brands %}
        <li><a href="/brands/{{ brand.getId() }}"> {{ brand.getType}} </a> </li>
      {% endfor %}
    </ul>
    {% else %}
    <p> There are no brands listed</p>
    {% endif %}

    <form action="/brands" method="post">
        <label for ='type'> Brand Name:</label>
        <input id = 'type' type ='type' type='text'>

        <button type='submit'> Add Brand</button>

        <form action='/delete_brands' method='post'>
          <button type='submit'> Clear </button>
        </form>

        <p><a href='/'> Home</a></p>



    </form>

  </body>
</html>
